<!-- ALL THE OFFERS ON THIS PAGE -->

{% extends 'base.html' %}

{% block contents %}

<h1> HELLO TO OFFERS PAGE</h1>
    <div class="accordion" id="accordionExample">
        {% for offer in offers %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{offer.code}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse"
                            aria-expanded="true" aria-controls="collapse">
                        Offer {{offer.code}}
                    </button>
                </h2>
                <div id="div{{offer.code}}" class="accordion-collapse collapse show" >
                    <div class="accordion-body">
                        <strong>{{offer.discount}} offered!! {{offer.description}}</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}